@{
    ViewData["Title"] = "Error 404";
}

<style>
    @@media (max-width: 880px) {
      .error {
        text-align: left !important;
      }
    }
    body {
        background-color: white;
    }
</style>

<main class="main-content mt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto w-90" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="card z-index-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 mx-auto my-auto pt-4">
                                <div class="col-md-12 mb-3 mt-3 d-flex pt-4 align-items-center justify-content-start">
                                    <p><div class="text-primary fw-bold">¡Oops!... la página no ha sido encontrada o quizás no tengas acceso.</div></p>
                                </div>
                                <div class="col-md-12 mb-3 mt-3 d-flex align-items-center justify-content-start w-sm-50 w-lg-25">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn bg-gradient-info w-100 my-4 mt-2 mb-2">Volver</a>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 mt-3 d-flex align-items-center justify-content-sm-start justify-content-lg-end">
                                <p><div class="text-primary error" style="font-size: 150px; font-weight: 900; line-height : 150px; text-align: right;">Error 404.</div></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>