@model OlvidoPasswordViewModel

@{
    ViewData["Title"] = "Recuperar clave";
}

<main class="main-content  mt-0">
<section>
    <div class="page-header min-vh-100">
    <div class="container">
        <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto bg-white border-radius-lg tarjetita">
            <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                    <h4 class="font-weight-bolder">Recuperar clave</h4>
                    <p class="mb-0">Bienvenido, ingresa los datos requeridos para que <strong>recuperes</strong> tu clave.</p>
                </div>
                <div class="card-body">
                                <form  asp-action="OlvidoPassword">
                    <div class="mb-3">
                                        <input type="email" class="form-control form-control-lg" placeholder="Correo electrónico" aria-label="Correo electrónico" maxlength="40" required>
                    </div>
      
                    <div class="form-check form-check-info text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                        <label class="form-check-label" for="flexCheckDefault">
                            Acepto todos los <a href="https://www.gob.pe/institucion/hospitalloayza/organizacion" class="text-dark font-weight-bolder">Términos y Condiciones</a>.
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-0">Cambiar clave</button>
                    </div>
                    <div class="text-center">
                        <a asp-area="" asp-controller="Usuarios" asp-action="SignIn" class="btn bg-gradient-info w-100 my-4 mt-2 mb-2">Volver</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('../assets2/img/medic-login.jpg');
        background-size: cover;">
            <span class="mask bg-gradient-primary opacity-6"></span>
            <h4 class="mt-5 text-white font-weight-bolder position-relative">"La salud es la riqueza real y no piezas de oro y plata"</h4>
            <p class="text-white position-relative">La salud no es solo no estar enfermos. La salud es sacar el máximo partido de nuestras habilidades físicas y mentales, disfrutar de aquello que nos rodea y, en definitiva, ser felices.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
</main>