@model Proyecyo.Models.PacientesVM

<h4>Medico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medico.IdMedico" />
            <div class="form-group">
                <label asp-for="Medico.NombrecompletoDoctor" class="control-label"></label>
                <input asp-for="Medico.NombrecompletoDoctor" class="form-control" />
                <span asp-validation-for="Medico.NombrecompletoDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medico.Especialidad" class="control-label"></label>
                <input asp-for="Medico.Especialidad" class="form-control" />
                <span asp-validation-for="Medico.Especialidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medico.DniDoctor" class="control-label"></label>
                <input asp-for="Medico.DniDoctor" class="form-control" />
                <span asp-validation-for="Medico.DniDoctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medico.Certificado" class="control-label"></label>
                <input asp-for="Medico.Certificado" class="form-control" />
                <span asp-validation-for="Medico.Certificado" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m=> m.Medico.IdUsuario, Model.ListaUsuarios, "--Lista de Usuarios--",
                new {@class = "form-control"})
              
                <span asp-validation-for="Medico.IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

