@model Proyecyo.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <div class="form-group">
                <label asp-for="NombrecompletoUsuario" class="control-label"></label>
                <input asp-for="NombrecompletoUsuario" class="form-control" />
                <span asp-validation-for="NombrecompletoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DniUsuario" class="control-label"></label>
                <input asp-for="DniUsuario" class="form-control" />
                <span asp-validation-for="DniUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RucUsuario" class="control-label"></label>
                <input asp-for="RucUsuario" class="form-control" />
                <span asp-validation-for="RucUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelularUsuario" class="control-label"></label>
                <input asp-for="CelularUsuario" class="form-control" />
                <span asp-validation-for="CelularUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoUsuario" class="control-label"></label>
                <input asp-for="CorreoUsuario" class="form-control" />
                <span asp-validation-for="CorreoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>