@model Proyecyo.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Creado</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombrecompletousuario" class="control-label"></label>
                <input asp-for="Nombrecompletousuario" class="form-control" />
                <span asp-validation-for="Nombrecompletousuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dniusuario" class="control-label"></label>
                <input asp-for="Dniusuario" class="form-control" />
                <span asp-validation-for="Dniusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rucusuario" class="control-label"></label>
                <input asp-for="Rucusuario" class="form-control" />
                <span asp-validation-for="Rucusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celularusuario" class="control-label"></label>
                <input asp-for="Celularusuario" class="form-control" />
                <span asp-validation-for="Celularusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correousuario" class="control-label"></label>
                <input asp-for="Correousuario" class="form-control" />
                <span asp-validation-for="Correousuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

