@model Proyecyo.Models.ReservaMedicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>ReservaMedicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMedicamentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMedicamentoNavigation.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReservamedicamento">Editar</a> |
    <a asp-action="Index">Volver a listar</a>
</div>
